/* page background*/
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}

@media (prefers-color-scheme: light){ 
    .block-container.st-emotion-cache-z5fcl4.ea3mdgi4{
        background-color: white !important;
        color: grey !important;
    }
    h1{
        color: black !important;
    }
    sup{
        color: steelblue !important;
    }
    p{
        color: black
    }
    .stChatMessage.st-emotion-cache-janbn0.eeusbqq4{
        background-color: whitesmoke !important;
    }
    .st-emotion-cache-1avcm0n.ezrtsby2{ 
        background-color: white !important;
        color: black;
    }
    a.st-emotion-cache-15zrgzn{
        background-color: white !important
    }
    button.st-emotion-cache-e370rw{
        background-color: white !important;
    }
    .st-cm{
        background-color: white !important;
        color: black !important;
        caret-color: black !important;
    }
    .stChatFloatingInputContainer {
        background-color: lightblue !important;
    }
    .main.st-emotion-cache-uf99v8.ea3mdgi5{
        background-color: white !important;
    }
    textarea:focus{
        border-color: blue !important;
    }
    div.st-emotion-cache-4zpzjl.eeusbqq1{
        background-color: grey !important;
        color: white !important;
    }
    h1{
        color: black !important;
    }
    
    h2{
        color: #7C8B9D !important;
    }
    
    h3{
        color: black !important;
    }
    li{
        color: black !important;
    }
}

.stChatFloatingInputContainer {
    animation: glow .5s ease-in-out 1 alternate;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    padding-top: 25px;
    position: fixed;
    display: flex;
    flex-direction: column;  /* This line switches it to vertical layout */
    justify-content: center;  /* This now controls vertical alignment */
    align-items: center;  /* And this one is for horizontal alignment */
    background-color: #1E232D;
  }

.stChatInputContainer textarea {
    font-size: 1.15rem;
    padding: 10px 10px;
    border: 5px solid #355D8A;
    background-color: white;
    height: auto;
}
  

div.stChatFloatingInputContainer::after{
    content: "This chat bot is a Beta release; we're in the process of optimizing relevance and accuracy of the answers provided. As with any AI tool, the response of this chat bot may not be entirely accurate or complete, and there’s a risk of misperceptions including hallucinations. This chat bot is not a substitute for professional advice. Always consult a qualified professional before making any decisions based on information provided by this chat bot. Your interactions with this chat bot, like your use of this site, is subject to our privacy policy.";
    padding: 15px 20px 0 20px;
    font-size: .65rem;
    color: #7C8B9D;
    width: 95%;
    max-height: 45px;
    overflow: auto;
}

.st-cm{
    max-height: 364px;
}

/* chat input*/
textarea {
    font-size: 1.2rem !important;
    background-color: black !important;    
    border: 5px solid #355D8A !important;
    height: auto;
    padding-bottom: 10px;
}

textarea:focus{
    border-color: steelblue !important;
}

/* user emoticon*/
div.st-emotion-cache-4zpzjl.eeusbqq1{
    background-color: #E9E9E9;
}

/* ai emoticon*/
div.st-emotion-cache-jmw8un.eeusbqq1{
    background-color: #1C6CE8;
    color: whitesmoke !important;
}

/* enter emoticon*/
svg.eyeqlp51.st-emotion-cache-9ilocf.ex0cdmw0{
    height: 38px;
    width: 38px;
}

button.st-emotion-cache-6q60ru.e1d2x3se3:hover{
    background-color: steelblue !important;
    border-radius: 0 10px 10px 0 !important;
}

div.st-emotion-cache-6q60ru.e1d2x3se:hover{
    color: skyblue !important;
}

/* general formatting*/
h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h2{
    font-size: 25px;
    color: #7C8B9D;
}

h3{
    font-size: 14px;
    font-weight: lighter;
}
